<!DOCTYPE html>
<html>
<head>
    <title>Internship Matchmaker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Internship Matchmaker</h1>

    <form method="POST">

        <label>Enter your skills:</label>

        <input type="text"
               name="skills"
               placeholder="Python, pandas, SQL">

        <button type="submit">Find Internships</button>

    </form>

    {% if recommendations %}

    <h2>Recommended Internships</h2>
    <div class="recommendations">

        {% for internship in recommendations %}

        <div>
            <div class="internship-card">
                <h3>{{ internship.title}}</h3>

                <p>
                    <strong>Company:</strong>
                    {{ internship.company }}
                </p>

                <p>
                    <strong>Location:</strong>
                    {{ internship.location }}
                </p>

                <p>
                    <strong>Work Type:</strong>
                    {{ internship.work_type }}
                </p>

                <p>
                    <strong>Match percentage:</strong>
                    {{ internship.match_percentage}}
                </p>


                <p>
                    <strong>Skills:</strong>
                    {{ internship.skills }}
                </p>

                <p>
                    <strong>Description:</strong>
                    {{ internship.description }}
                </p>

                <p>
                    <strong>Match Score:</strong>
                    {{ internship.match_score }}
                </p>

                <p>
                    <strong>Match Level:</strong>
                    {{ internship.match_level }}
                </p>

                <hr>
            </div>

        </div>
    </div>

    {% endfor %}

    {% endif %}

    {% if request.method == "POST" and not recommendations %}

    <div class="no-results">
        <h3>No Matching Internships Found</h3>
        <p>
            We couldn't find any internships matching your skills.
            Try entering different or additional skills.
        </p>
    </div>

    {% endif %}
</body>
</html>